{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-3"
  ],
  "plugins": [
    "transform-runtime",
    "babel-plugin-transform-regenerator",
    "transform-class-properties",
    "babel-plugin-syntax-dynamic-import"
  ]
}
